.visually-hidden {
  @extend %visually-hidden;
}

.filter {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.mr-bt-15 {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.filter-button {
  padding: 6px 22px;

  height: 38px;

  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background: $bgc-icon-filtr;
  border-radius: $border-radius;
  border: none;

  transition: $animation;

  &:hover,
  &:focus {
    color: $bgc-pages;
    background-color: $color-accent;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}
